body{
    background-color: #282c34;
}

.App {
    text-align: center;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.root{
    flexGrow: 1;
}

.selected-tile{

}

.nice-move{
    border: 1px solid green;
    box-shadow: green 0px 0px 20px !important;
}

.reset-move{
    border: 1px solid red;
    box-shadow: red 0px 0px 20px !important;
}

.paper{
    height: 140;
    width: 100;
}

.tile{
    cursor: pointer;
    background-image: url('../img/logo.svg');
}
.tile-unveiled{
    height: 100%;
}
.tile-veiled{
    display: none !important;
}

.bg-blue{
    background-color: #1c54b2;
}
.bg-green{
    background-color: #00a152;
}
.bg-red{
    background-color: #ff3d00;
}
.bg-yellow{
    background-color: #ffc107;
}
.bg-purple{
    background-color: #9c27b0;
}
.bg-brown{
    background-color: #b23c17;
}

a{
    text-decoration: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
